appdirs==1.4.4
certifi==2020.11.8
click==7.1.2
colorama==0.4.4
distlib==0.3.1
fastapi==0.63.0
filelock==3.0.12
h11==0.12.0
pipenv==2020.11.15
pydantic==1.8
python-dotenv==0.15.0
PyYAML==5.4.1
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
virtualenv==20.1.0
virtualenv-clone==0.5.4
watchgod==0.7
websockets==8.1
